/* If user prefers dark scheme */
@media (prefers-color-scheme: dark) {
  body.darkTheme,
  body {
    --primaryDarker: #1c1c1c;
    --primaryDark: #2f2f2f;
    --primary: #434343;
    --primaryLight: #575757;
    --primaryLighter: #727272;

    --secondaryDarkest: #593ba1;
    --secondaryDarker: #6f48c9;
    --secondaryDark: #6f48c9;
    --secondary: #8257e5;
    --secondaryLight: #9f75ff;
    --secondaryLighter: #b08fff;

    --white: #eee;

    --backgroundColor: #1d1d1d;
    --backgroundColorHigh: #2e2e2e;
    --backgroundColorHigher: #525252;

    --textColor: #eee;
    --textColorHighlight: #eee;
  }

  /* Light theme variables */
  body.lightTheme {
    --primaryDarkest: #c28401;
    --primaryDarker: #d79201;
    --primaryDark: #f5a702;
    --primary: #fdb316;
    --primaryLight: #fdbb30;
    --primaryLighter: #fdc652;

    --secondaryDarker: #1c1c1c;
    --secondaryDark: #2f2f2f;
    --secondary: #434343;
    --secondaryLight: #575757;
    --secondaryLighter: #727272;

    --white: #eee;

    --backgroundColor: #eee;
    --backgroundColorHigh: rgb(186, 185, 185);
    --backgroundColorHigher: rgb(145, 145, 145);

    --textColor: black;
    --textColorHighlight: black;
  }
}

/* If user prefers light scheme */
@media (prefers-color-scheme: light) {
  body.lightTheme,
  body {
    --primaryDarkest: #c28401;
    --primaryDarker: #d79201;
    --primaryDark: #f5a702;
    --primary: #fdb316;
    --primaryLight: #fdbb30;
    --primaryLighter: #fdc652;

    --secondaryDarker: #1c1c1c;
    --secondaryDark: #2f2f2f;
    --secondary: #434343;
    --secondaryLight: #575757;
    --secondaryLighter: #727272;

    --white: #eee;

    --backgroundColor: #eee;
    --backgroundColorHigh: rgb(186, 185, 185);
    --backgroundColorHigher: rgb(145, 145, 145);

    --textColor: black;
    --textColorHighlight: black;
  }

  body.darkTheme {
    --primaryDarker: #1c1c1c;
    --primaryDark: #2f2f2f;
    --primary: #434343;
    --primaryLight: #575757;
    --primaryLighter: #727272;

    --secondaryDarkest: #593ba1;
    --secondaryDarker: #6f48c9;
    --secondaryDark: #6f48c9;
    --secondary: #8257e5;
    --secondaryLight: #9f75ff;
    --secondaryLighter: #b08fff;

    --white: #eee;

    --backgroundColor: #1d1d1d;
    --backgroundColorHigh: #2e2e2e;
    --backgroundColorHigher: #525252;

    --textColor: #eee;
    --textColorHighlight: #eee;
  }
}

/* Spacings */
:root {
  --spacingVeryLarge: 4rem;
  --spacingLarge: 3rem;
  --spacingMedium: 2rem;
  --spacingShort: 1rem;
  --spacingVeryShort: 0.5rem;

  --sectionSpacingVeryLarge: 7rem;
  --sectionSpacingLarge: 5.5rem;
  --sectionSpacingMedium: 4rem;
  --sectionSpacingShort: 2.5rem;
  --sectionSpacingVeryShort: 1.5rem;
}

/* Warning, Error and Success */
:root {
  --successDarker: #1e4620;
  --successDark: #357b38;
  --success: #4caf50;
  --successLight: #90cd93;
  --successLighter: #b2ddb4;

  --errorDarker: #661a14;
  --errorDark: #b32d23;
  --error: #ff4032;
  --errorLight: #ff8980;
  --errorLighter: #ffada7;

  --warningDarker: #623200;
  --warningDark: #ac5700;
  --warning: #f57c00;
  --warningLight: #f9ae61;
  --warningLighter: #fbc791;
}
